.manage-kmz {
  & .placemarks {
    flex-grow: 1.25;
    height: calc(100vh - calc(2 * 2rem));

    margin-left: 1.5rem;

    width: 100%;
    max-width: 60rem;

    &__list {
      margin-top: 1.5rem;
      height: calc(100% - calc(2 * 2rem));

      & > * {
        margin-top: 1rem;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &:last-child {
          margin-bottom: .65rem;
        }
      }

      overflow-y: scroll;
    }
  }
}
