// COLORS
$color-primary: #2F2F2F;
$color-primary-1: #4D4D4D;
$color-primary-2: #6B6B6B;
$color-primary-light: #FAFAFA;
$color-primary-light-1: #D9D9D9;
$color-primary-light-2: #FCFCFC;

$color-white: #FFFFFF;
$color-light-grey: #EAEAEA;

$color-warning: #ed213a;

$color-title: #8F7D4B;

$color-blue: #0E65E5;
$color-blue-strong: #292E49;
$color-red: #E50E1D;
$color-green: #0F9B0F;
$color-yellow: #E5A50E;

// SHADOW
$box-shadow-0: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$box-shadow-1: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-2: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$box-shadow-3: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$box-shadow-4: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

$box-shadow-inner-0: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);

// FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Oswald:200,300,400,700&display=swap');
$font-title: 'Oswald', sans-serif;
$font-basic: 'Montserrat', sans-serif;
