/* width */
::-webkit-scrollbar {
  width: .75rem;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: .5rem;
  transition-duration: .4s;

  &:hover {
    background: #888888;
    transition-duration: .4s;
  }
}
