.text {
  &__body {
    font-family: $font-2;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: .15rem;
    line-height: 2.25rem;
  }

  &__title {
    font-family: $font-1;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    line-height: 2.5rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &__title-level-2 {
    font-family: $font-3;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: .20rem;
  }

  &__details {
    font-family: $font-3;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .15rem;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--center {
    text-align: center;
  }
}
