.text {
  &__body {
    font-family: $font-2;
    font-size: 2rem;
    line-height: 2.75rem;
    letter-spacing: 0.182rem;
    font-style: italic;
  }

  &__title {
    font-family: $font-1;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: .25rem;
    line-height: 2.5rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
}
