.placemark-edit {
  cursor: default;
  margin: 0;
  box-shadow: none;
  width: 100%;
  min-width: 65rem;

  & input[name=title] {
    font-size: 2rem;
    width: 95%;
  }

  & input {
    background: transparent;
  }

  & > p {
    cursor: pointer;
  }

  &__row {
    display: flex;
    align-items: center;
    height: 2.5rem;

    margin-top: 1rem;

    &--icon {
      height: 100%;
      cursor: pointer;

      & svg {
        width: 2.25rem;
        margin-right: .5rem;
      }

      display: flex;
      align-items: center;

      margin-right: .5rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
