@import "@/assets/style/_main.scss";

.load-map {
  min-width: 45rem;
  border-radius: .25rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 3.5rem 3rem;

  background: white;
  box-shadow: $box-shadow-1;

  &__head {
    & h1 {
      font-family: $font-3;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin-bottom: 1.5rem;
    }
    & h2 {
      font-weight: 400;
      font-size: 1.8rem;
    }
  }

  &__upload-section {
    & > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      & > svg {
        height: 1.8rem;
        width: 1.5rem;

        margin-right: .5rem;
      }

      & > p {
        word-wrap: none;
        width: auto;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    & > h3 {
      margin: 2.5rem 0 1.5rem 0;
    }
  }

  &__uploaded-file {
    display: flex;
    align-items: flex-end;
    height: 6rem;

    & > svg {
      max-width: 4.4rem;
      margin-right: 1.4rem;
    }

    &--content {
      width: 100%;

      display: flex;
      flex-direction: column;

      justify-content: flex-end;

      &__up {
        display: flex;
        justify-content: space-between;
        height: 2rem;

        margin-bottom: 1.3rem;

        & > h3 {
          font-weight: 400;
        }

        & > svg {
          padding: .25rem;
          width: 2rem;
          border-radius: .15rem;
          transition: all .3s;

          &:hover {
            background: $color-blue-2;
            color: $color-primary-white;
            cursor: pointer;
            padding: .35rem;
            transition: all .3s;
          }
        }
      }

      &__bar {
        height: .7rem;
        width: 100%;

        background: #A1C3E6;

        &--filled {
          height: 100%;
          background: linear-gradient(90deg, $color-blue 0%, #A1C3E6 200%);
        }
      }
    }

    margin: 2rem 0;
  }

  &__submit {
    margin-top: 2.5rem;

    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.load-map--background {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(135deg, $color-primary-white 0%, #B8D1E6 100%);

  position: relative;
}
