@import "@/assets/style/_main.scss";

.load-map {
  min-width: 45rem;
  border-radius: .25rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 3rem 3rem;

  background: white;
  box-shadow: $box-shadow-1;

  overflow: hidden;

  &__head {
    & h1 {
      font-family: $font-3;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.5rem;
      margin-bottom: 1.5rem;
    }
    & h2 {
      font-weight: 400;
      font-size: 1.8rem;
    }
  }

  &__upload-section {
    & > button, &--btn-block > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100% !important;

      padding: 0 1rem;

      & > svg {
        height: 1.8rem;
        width: 1.5rem;

        margin-right: .5rem;
      }

      & > p {
        word-wrap: none;
        width: auto;
        opacity: 1;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      transition: .5s;
      overflow: hidden;

      & input[type="file"] {
        display: none;
      }
    }

    & > h3 {
      margin: 2.5rem 0 1.5rem 0;
    }

    &--small-button {
      width: 2rem !important;

      & > svg {
        margin-right: 0 !important;
      }

      & > p {
        display: none;
        opacity: 0;
      }
    }

    &--small-button + .load-map__upload-section--link {
      display: block;
    }

    &--link {
      box-shadow: $box-shadow-inner-0;
      border-radius: .25rem;

      display: none;
      width: 100%;
      margin: .25rem .25rem .25rem 1rem;
      padding: .2rem .7rem;
    }
    &--btn-block {
      display: flex;
      height: 4rem;
    }
  }

  &__submit {
    margin-top: 2.5rem;

    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__error {
    color: $color-warning;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-top: 1rem;
    position: absolute;
    bottom: .25rem;
    left: 0;
  }
}

.load-map--background {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(135deg, $color-primary-white 0%, #B8D1E6 100%);

  position: relative;
}

.fade-error-enter-active {
  transition: all .2s;
}
.fade-error-leave-active {
  transition: all .3s;
}
.fade-error-enter {
  transform: translateY(100%);
}
.fade-error-leave-to {
  opacity: 0;
}
