$button-padding: .75rem;
$focus-weight: .25rem;

button[class^=primary-button] {
  min-width: 4rem;
  height: 4rem;

  padding: calc(#{$button-padding} - #{$focus-weight});
  border: $focus-weight solid transparent;
  cursor: pointer;
  transition: .2s;

  &:active {
    transform: scale(1.025);
    box-shadow: $box-shadow-2;
    transition: .1s;
  }

  @include respond-over(tab-land) {
    &:focus {
      border: $focus-weight dashed currentColor;
      padding: calc(#{$button-padding} - #{$focus-weight});
      transition: .25s;
    }
  }

  transition: background-color 1s;
}

.primary-button {
  &--blue {
    color: $color-primary-white;
    background-color: $color-primary-blue;
    box-shadow:  0 4px 6px -1px rgba($color-primary-blue,0.25);
  }

  &--blue-white {
    color: $color-primary-white;
    background: linear-gradient(135deg, $color-blue-1 0%, $color-blue-2 100%);
    border: none !important;
    box-shadow:  0 4px 6px -1px rgba($color-primary-blue,0.25);
  }

  &--green {
    color: $color-primary-white;
    background-color: $color-primary-green;
    box-shadow:  0 4px 6px -1px rgba($color-primary-green,0.25);
  }
}

.button-passive {
  width: auto;
  height: 4rem;
  padding: calc(#{$button-padding};
  color: $color-primary;
  background: none;
  border: .15rem solid rgba($color-grey-1, .2);

  transition: background-color 1s;
}

.button-disabled {
  cursor: not-allowed;
}

.box-circle {
  border-radius: 50%;
}

.box-round-corner {
  border-radius: .25rem;
}
